@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

.nav-mobile-bg {
  background: rgba(33, 35, 44, 0.9);
}

.custom-btn {
  @apply bg-secondary hover:bg-white border-none text-white hover:text-secondary px-4 py-3 rounded-md mt-2;
}

.word-spacing {
  word-spacing: 20px;
}

.custom-input {
  @apply bg-primary px-6 py-4 rounded-xl text-secondary focus:outline-secondary hover:outline-secondary outline-none border-none cursor-pointer;
}
